:root {
  --lightness: 65%;
  --ball-red: red;
  --ballshadow-red: rgb(252, 127, 127);
  --balldarkshadow-red:  rgb(88, 6, 6);
  --ball-blue: blue;
  --ballshadow-blue: rgb(152, 226, 255);
  --balldarkshadow-blue: rgb(1, 26, 36);
  --hover-color: red;
}

body {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 95px;
  perspective: 55em;
  perspective-origin: 1% calc(2% - 14em);
}

 #setting-page {
     font-size: 25px;
     color: white;
     background-color: rgb(72, 135, 151);
     align-items: center;
     justify-content: flex-start;
     width: 100vw;
     height: 100vh;
 }

 /*Inspired by radiobutton: https://codepen.io/Metty/pen/MWjOavR
 but in the end I changed it to a togglefield red or blue*/

 .wrapper {
  display: inline-flex;
  background: #fff;
  height: 50px;
  width: 300px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}

#color-player1, #color-player2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}

#color-player1 {
    background: red;
}
#color-player2 {
    background: blue;
}

#scene {
 position: relative;
 transform-style: preserve-3d;
 /*animation: scene-rotate var(--rotate-speed) linear;*/
 /*transform: rotateY(0deg) translateY(0em);*/
 }

 
.rotate {
  animation: scene-rotate 15s linear;
  }

  @keyframes scene-rotate { to { transform: rotateY(360deg);}}

 #floor {
  position: absolute;
  top: 1em;
  transform: translate(-50%, -50%) rotateX(90deg);
  width: 12em;
  height: 12em;
  background: radial-gradient(#0000, #000 var(--lightness)), repeating-conic-gradient(from 125deg, red, 
  rgb(206, 198, 198) 90deg 180deg);
  /*background-size: 100%, 1em 1em;*/
  /*repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);*/
}

#score-text-red, #score-text-blue  {
    font-family:verdana; 
    font-size:0.35em; 
    text-align: center;
    transform: translateY(-0.25em);
}

#score-text-red {
    color: red;
}

#score-text-blue {
    color:blue;
}

#score-red {
  width: 1.5em;
  height: 1em;
  position: absolute;
  top:-3em; /*-1em minus height means on the ground*/
  left:-6em;/*-1em means centered*/
  /*animation: cube-movement-west-east var(--cube-speed-x) infinite linear;*/
}

#score-blue {
  width: 1.5em;
  height: 1em;
  position: absolute;
  top:-3em; /*-1em minus height means on the ground*/
  left:3em;/*-1em means centered*/
  /*animation: cube-movement-west-east var(--cube-speed-x) infinite linear;*/
}

.frontscore { 
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0 0 0.5em #000a inset;
    transform: translateZ(1em) translateZ(4.5em); 
    animation: cube-movement-north-south-front var(--cube-speed-y) infinite linear; 
}

.cube {
  width: .5em;
  height: .5em;
  position: absolute;
  top: 2em;
  left: -5em;
}

.cube:hover {
    background: var(--hover-color);
}

 .leftside, .rightside, .frontside, .backside {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background: var(---cube-color);*/
    box-shadow: 0 0 0.5em rgba(48, 48, 48, 0.267) inset;
 }

.frontside { transform: translateZ(.25em) ; }
.rightside { transform: rotateY(90deg) translateZ(.25em) ; }
.backside {  transform: rotateY(180deg) translateZ(.25em) ; }
.leftside {  transform: rotateY(270deg) translateZ(.25em) ; }

.redball {
  width: .5em; height: .5em;
  border-radius: 50%;
  position: absolute;
  left: -5.5em;
  bottom: -2em;
  background: radial-gradient(farthest-side at .4em .2em, var(--ballshadow-red), var(--ball-red), var(--balldarkshadow-red));
  animation: sscene-rotate 15s linear reverse;
 }

 .blueball {
  width: .5em; height: .5em;
  border-radius: 50%;
  position: absolute;
  left: -5em;
  bottom: -2em;
  background: radial-gradient(farthest-side at .4em .2em, var(--ballshadow-blue), var(--ball-blue), var(--balldarkshadow-blue));
  animation: sscene-rotate 15s linear reverse;
 }

 .ballshadow {
  position: absolute;
  width: .45em;
  height: .5em;
  transform: translateY(50%) rotateX(90deg) translateX(0em);
}

.circleshadow {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: black;
  filter: blur(9px);
}




@media screen and (min-width: 320px) and (max-width: 835px) and (orientation: landscape) {
    body {
      font-size: 50px;
    }


    #scene {
      transform: translateX(-.1em) translateZ(2.8em);
    }

    #score-red  {
      left:-5.6em;
    }

    #score-blue  {
      left:2.7em;
    }
}
